{#<tr>
    <td><h4>{{ "Report"|t }}</h4></td>
</tr>

<tr><td height="20"></td></tr>
<tr>
    <td height="1" class="mail-border-secondary"></td>
</tr>
<tr><td height="20"></td></tr>#}

<tr><td height="20"></td></tr>

<tr>
    <td>
        <table style="word-break: break-all">
            {% for log in data %}
                <tr>
                    <td>
                        <b>{{ log.date }}</b> <i>({{ log.type|t }}, {{ log.severity_label }})</i><br/>
                    </td>
                </tr>
                <tr><td height="5"></td></tr>
                <tr>
                    <td>{{ link(log.title, log.url) }}</td>
                </tr>
                <tr><td height="20"></td></tr>
                <tr><td height="1" class="mail-border-secondary"></td></tr>
                <tr><td height="20"></td></tr>
            {% endfor %}
        </table>
    </td>
</tr>

<tr><td height="40"></td></tr>
