{#
    Partial d'un item de liste

    @vars
        row.content
        row.attribute

    @see theme/view.inc
#}
<li {{ row.attributes }}>
    <a href="{{ row.content.url }}">
        <article class="item-wrapper">
            {% if row.content.media %}
                <div class="item-media l-image">
                    {{ row.content.media }}
                </div>
            {% endif %}

            <div class="item-content">
                {% set titleTag = (row.content.tagTitle) ? row.content.tagTitle : 'h3' %}
                {{ ('<' ~ titleTag ~ ' class="item-title"' ~ '>')|raw }}{{ row.content.title|nl2br }}{{ ('</' ~ titleTag ~ '>')|raw }}

                {% if row.content.body %}
                    <div class="item-body">
                        {{ row.content.body|raw }}
                    </div>
                {% endif %}

                {% if row.content.cta %}
                    <span class="item-cta btn">
                        {{ row.content.cta }}
                    </span>
                {% endif %}
            </div>
        </article>
    </a>
</li>
