{#
/**
 * Navigation des liens pour partager sur les réseaux sociaux
 *
 * Variables :
 *  - title
 *  - items[]
 *
 */
#}
<div class="nav nav--social-share">
    {% if title %}
        <p class="nav-title">{{ title }}</p>
    {% endif %}
    <ul class="nav-menu">
        {% for item in items %}
            <li class="nav-item">
                <a href="{{ item.share_url }}" title="{{ item.title }}"
                   class="theme-social-{{ item.id }}-hover" target="_blank">
                    <span class="icon icon--{{ item.id }}"></span>
                    <span class="sr-only">{{ item.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
